footer {
  background-color: #eee;
  margin-top: 1em;
  padding: 1em;
  text-align: center;
  padding-top: 30px;
}

.chart {
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.panel-heading {
	font-size: 14px;
	font-weight: bold;
}

#lang-count-lengend {
	display: block;
	margin-top: 20px;
}

ul.legend-lists {
	list-style-type: none;
}

ul.legend-lists > li {
	margin-bottom: 0.5em;
  line-height: 1.2em;
  padding: 0 0.3em;
}

ul.legend-lists .legend-color {
	display: block;
	width: 1em;
  height: 1em;
  margin-right: 0.5em;
  float: left
}